* {
  font-family: "Source Han Sans", "helvetica";
}

nav {
  background-color: #f5de54;
  transition: background-color 500ms linear;
  box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 10%);
  color: #161618;
  font-weight: bold;
}

.mobile-menu.is-open {
  height: 270px;
  transition: all 300ms;
}

.moblie-menu-img {
  display: none;
  width: 40px;
  height: 40px;
  background-image: url(../../images/menu.svg);
  background-size: cover;
}

.moblie-menu-img.is-open {
  background-image: url(../../images/close.svg);
  width: 35px;
  height: 35px;
}

.mobile-menu {
  position: flex;
  width: 100%;
  margin-top: 76px;
  z-index: 10;
  background-color: #18479c;
  position: fixed;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: all 300ms;
}

.mobile-menu li {
  margin: 30px;
}

.mobile-menu ul li {
  list-style-type: none;
}

.mobile-menu a {
  color: white;
  font-size: 20px;
}

.banner {
  padding-top: 90px;
  background-color: #f5de54;
}

.concept {
  background-color: #f5de54;
  margin-top: -8px;
}

.concept .video {
  text-align: center;
}

.concept .container h2 {
  text-align: center;
  padding: 100px 0;
  font-weight: 800;
}

.concept .container h3 {
  font-weight: 700;
  padding-bottom: 20px;
}

.concept .row {
  padding-bottom: 50px;
}

.App {
  padding: 100px 0;
  background-color: #e95d83;
  color: white;
}

.App h3 {
  padding-bottom: 20px;
  font-weight: 700;
}

.App h5 {
  padding-bottom: 20px;
  font-weight: 600;
}

.icon-area {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.app-icon {
  text-decoration: none;
  border: solid 2px white;
  display: inline-block;
  width: 170px;
  height: 60px;
  color: white;
  border-radius: 40px;
  text-align: center;
  line-height: 57px;
}

.app-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.navbar.scrolled {
  background-color: white;
  transition: background-color 500ms linear;
}

.slick-slide {
  margin: auto 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-dots {
  background-color: #f5de54;
}

.feature {
  padding: 100px 0;
  background-color: #18479c;
  color: white;
}

.podcasts {
  padding: 100px 0;
  background-color: #ed7325;
  color: white;
}

.podcasts .container h3 {
  padding-bottom: 20px;
  font-weight: 700;
}

.article {
  padding: 0 0 100px 0;
  background-color: #fefefe;
  color: FEFEFE;
}

.article .container h2 {
  text-align: center;
  padding: 100px 0;
  font-weight: 800;
  margin: 0;
}

.article .nav {
  margin-bottom: 30px;
}

.about {
  padding: 100px 0 30px 0;
  background-color: #f5de54;
  color: #161618;
}

.concept .image {
  text-align: center;
}

.App .app_image {
  text-align: center;
}
.feature .image,
.feature h5 {
  text-align: center;
  padding: 0 0 30px 0;
}

.podcasts .image {
  text-align: center;
}

.podcasts .row {
  margin: 0 150px;
}

.article .image {
  text-align: center;
  margin: 0 0 30px 0;
}

.article .box {
  border: #c2c2c2 0.5px solid;
  margin: 0 10px 0px 10px;
  padding: 30px 20px 0 10px;
}

.article h5 {
  margin: 0 0 20px 0;
  font-weight: 600;
}

.article a {
  text-decoration: none;
  color: black;
}

.article .active {
  color: navy;
  border-bottom: navy solid 3px;
  margin: 0 30px 0 0;
}

.article .article-nav {
  margin-bottom: 30px;
}

/* .article .card:nth-child(2) {
  margin: 0 30px;
} */

.article .card {
  border: #cccccc solid 1px !important;
}

.slick-prev {
  left: -80px !important;
}

.slick-next {
  right: -60px !important;
}

.feature .app_image {
  align-self: start;
}

.about .footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.footer li::after {
  content: "|";
  margin: 0 8px;
}

.footer li:last-child::after {
  content: "";
}

.about .image {
  width: 193px;
  margin: 0 auto;
}

.about .content {
  text-align: left;
}

.about .content h4 {
  margin-bottom: 1rem;
}

.about .footer {
  margin-top: 50px;
}

.about .icon {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
}

.about .icon li {
  margin-right: 16px;
}

.App .icon-area .btn-a,
.App .icon-area .btn-b {
  display: inline-block;
  width: 229px;
  height: 73px;
}

.App .icon-area .btn-a:hover,
.App .icon-area .btn-b:hover {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 10%);
}

.App .icon-area .btn-a {
  background-image: url(../../images/hover_a.png);
}

.App .icon-area .btn-b {
  background-image: url(../../images/hover_b.png);
}

a {
  color: black;
  text-decoration: none;
}

.top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .about .footer ul {
    display: block;
    list-style: none;
    padding-left: 0;
  }
  .footer li::after {
    content: "";
  }
  .footer li {
    margin-bottom: 16px;
  }
  .moblie-menu-img {
    display: block;
  }
}
